@model Budgets;

@{
    string NumberOfDays = "";
    string txtPayAmount = String.Format("{0:c}", Model.PaydayAmount);
    string AmountPlaceholder = String.Format("{0:c}", 0.00);
}

<div class="card text-white bg-success my-1 border-dark shadow">
    <div class="card-body p-2">
        <div class="text-white me-3" style="position: relative; top: 0; right: 0">
            <button type="submit" asp-action="EditPayIngo" asp-controller="Budgets" style="background-color: transparent; border: none; width: 100%; z-index: 99;">
                <p>Edit Pay Info <i class="bi bi-pencil-square"></i></p>
            </button>
        </div>
        <div class="d-flex flex-column text-left">
            <p class="mb-0">You have @NumberOfDays to PAYDAY!</p>
        <div id="divPayAmount" class="row justify-content-center align-items-center ms-2 me-2 mt-1">
            <input id="txtPayAmount" type="text" value="@txtPayAmount" style="cursor: pointer; width: 75%; font-size: 35pt;" data-type="PositiveCurrency" placeholder="@AmountPlaceholder" class="text-white pe-2 pt-2 pb-2 text-center" onchange="UpdateHdnTransactionAmount()" onblue=""/>
            <button type="button" style="background-color: transparent; border: none; z-index: 99;" onclick="">
                <i class="bi bi-pencil"></i>
            </button>
            <input type="hidden" id="PayAmount" name="PayAmount" />
        </div>
            <p class="pb-0 mb-0" style="line-height: 100%; font-size: 9pt">Left To Spend Today</p>
        </div>
    </div>
</div>

<script>
    const

    function UpdateHdnTransactionAmount() 
    {
        var txtBillAmount = document.getElementById('txtPayAmount').value;
        var numBillAmount = txtBillAmount.replace('£', '').replace(',', '').replace('-', '');
        document.getElementById('PayAmount').value = numBillAmount;
    }


</script>