@{
    string InputedYear = ViewBag.Year;
    string InputedMonth = ViewBag.Month;
    string InputedDay = ViewBag.Day;
    string textElement = ViewBag.textElement;
    string InputElement = ViewBag.InputElement;
    string DateFormat = ViewBag.StringFormat;
}

<div id="DatePickerContainter" class="modal" role="dialog">
    <div id="DatePicker" class="modal-dialog p-5">
        <div class="modal-content shadow border-dark border-1" style="margin-top: 40%">
            <div  id="DatePickerHeader" class="modal-header bg-primary p-0">
                <div class="d-flex justify-content-between align-items-center col-12" id="divHeaderMonthView">
                    <div id="divPreviousMonth" class="ps-4 py-1 m-0"><button type="button" style="background-color: transparent; border: none; text-align: left; font-size: 20pt" onclick="ChangeMonth()" id="btnPreviousMonth"><i class="bi bi-arrow-left-square text-white"></i></button></div>
                    <button id="btnChangeToYear" style="background-color: transparent; border: none;" onclick="SwitchToYear()">                        
                        <div id="divCurrentMonth" class="py-1 m-0"><i class="bi bi-check2-square m-0 text-white h3"></i><h3 id="txtCurrentMonth" class="m-0 text-white"></h3></div>
                    </button>
                    <div id="divNextMonth" class="pe-4 py-1 m-0"><button type="button" style="background-color: transparent; border: none; text-align: left; font-size: 20pt" onclick="ChangeMonth()" id="btnNextMonth"><i class="bi bi-arrow-right-square text-white"></i></button></div>
                </div>
                <div class="d-none justify-content-between align-items-center col-12" id="divHeaderYearView" style="display: none">
                    <div id="divPreviousYear" class="ps-4 py-1 m-0"><button type="button" style="background-color: transparent; border: none; text-align: left; font-size: 20pt" onclick="ChangeYear()" id="btnPreviousYear"><i class="bi bi-arrow-up-square text-white"></i></button></div>
                    <div id="divCurrentYear" class="py-1 m-0"><h3 id="txtCurrentYear" class="m-0 text-white"></h3></div>
                    <div id="divNextYear" class="pe-4 py-1 m-0"><button type="button" style="background-color: transparent; border: none; text-align: left; font-size: 20pt" onclick="ChangeYear()" id="btnNextYear"><i class="bi bi-arrow-down-square text-white"></i></button></div>
                </div>
            </div>
            <div class="modal-body px-3 py-2">
                <div class="m-0 p-0 d-flex flex-column align-items-center" id="divMonthView">
                    <div class="d-flex justify-content-between align-items-center m-1 col-12 border-2 border-bottom border-dark" id="DayOfWeekHeader">
                        <h5 class="text-primary text-center" style="width: 13%;">Mon</h5>
                        <h5 class="text-primary text-center" style="width: 13%;">Tue</h5>
                        <h5 class="text-primary text-center" style="width: 13%;">Wed</h5>
                        <h5 class="text-primary text-center" style="width: 13%;">Thu</h5>
                        <h5 class="text-primary text-center" style="width: 13%;">Fri</h5>
                        <h5 class="text-primary text-center" style="width: 13%;">Sat</h5>
                        <h5 class="text-primary text-center" style="width: 13%;">Sun</h5>
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-1 col-12" id="FirstWeekOfMonth">
                        <button id="btnMon1" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Mon1')" class="border border-0 bg-secondary rounded-5"><h5 id="txtMon1" class="text-white text-center m-0 py-2"></h5></button><input type="hidden" id="hdnMon1" />
                        <button id="btnTue1" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Tue1')" class="border border-0 bg-secondary rounded-5"><h5 id="txtTue1" class="text-white text-center m-0 py-2"></h5></button><input type="hidden" id="hdnTue1" />
                        <button id="btnWed1" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Wed1')" class="border border-0 bg-secondary rounded-5"><h5 id="txtWed1" class="text-white text-center m-0 py-2"></h5></button><input type="hidden" id="hdnWed1" />
                        <button id="btnThu1" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Thu1')" class="border border-0 bg-secondary rounded-5"><h5 id="txtThu1" class="text-white text-center m-0 py-2"></h5></button><input type="hidden" id="hdnThu1" />
                        <button id="btnFri1" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Fri1')" class="border border-0 bg-secondary rounded-5"><h5 id="txtFri1" class="text-white text-center m-0 py-2"></h5></button><input type="hidden" id="hdnFri1" />
                        <button id="btnSat1" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sat1')" class="border border-1 border-primary rounded-5"><h5 id="txtSat1" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSat1" />
                        <button id="btnSun1" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sun1')" class="border border-1 border-primary rounded-5"><h5 id="txtSun1" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSun1" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-1 col-12" id="SecondWeekOfMonth">
                        <button id="btnMon2" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Mon2')" class="border border-1 border-primary rounded-5"><h5 id="txtMon2" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnMon2" />
                        <button id="btnTue2" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Tue2')" class="border border-1 border-primary rounded-5"><h5 id="txtTue2" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnTue2" />
                        <button id="btnWed2" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Wed2')" class="border border-1 border-primary rounded-5"><h5 id="txtWed2" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnWed2" />
                        <button id="btnThu2" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Thu2')" class="border border-1 border-primary rounded-5"><h5 id="txtThu2" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnThu2" />
                        <button id="btnFri2" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Fri2')" class="border border-1 border-primary rounded-5"><h5 id="txtFri2" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnFri2" />
                        <button id="btnSat2" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sat2')" class="border border-1 border-primary rounded-5"><h5 id="txtSat2" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSat2" />
                        <button id="btnSun2" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sun2')" class="border border-1 border-primary rounded-5"><h5 id="txtSun2" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSun2" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-1 col-12" id="ThirdWeekOfMonth">
                        <button id="btnMon3" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Mon3')" class="border border-1 border-primary rounded-5"><h5 id="txtMon3" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnMon3" />
                        <button id="btnTue3" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Tue3')" class="border border-1 border-primary rounded-5"><h5 id="txtTue3" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnTue3" />
                        <button id="btnWed3" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Wed3')" class="border border-1 border-primary rounded-5"><h5 id="txtWed3" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnWed3" />
                        <button id="btnThu3" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Thu3')" class="border border-1 border-primary rounded-5"><h5 id="txtThu3" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnThu3" />
                        <button id="btnFri3" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Fri3')" class="border border-1 border-primary rounded-5"><h5 id="txtFri3" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnFri3" />
                        <button id="btnSat3" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sat3')" class="border border-1 border-primary rounded-5"><h5 id="txtSat3" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSat3" />
                        <button id="btnSun3" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sun3')" class="border border-1 border-primary rounded-5"><h5 id="txtSun3" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSun3" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-1 col-12" id="FourthWeekOfMonth">
                        <button id="btnMon4" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Mon4')" class="border border-1 border-primary rounded-5"><h5 id="txtMon4" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnMon4" />
                        <button id="btnTue4" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Tue4')" class="border border-1 border-primary rounded-5"><h5 id="txtTue4" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnTue4" />
                        <button id="btnWed4" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Wed4')" class="border border-1 border-primary rounded-5"><h5 id="txtWed4" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnWed4" />
                        <button id="btnThu4" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Thu4')" class="border border-1 border-primary rounded-5"><h5 id="txtThu4" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnThu4" />
                        <button id="btnFri4" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Fri4')" class="border border-1 border-primary rounded-5"><h5 id="txtFri4" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnFri4" />
                        <button id="btnSat4" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sat4')" class="border border-1 border-primary rounded-5"><h5 id="txtSat4" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSat4" />
                        <button id="btnSun4" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sun4')" class="border border-1 border-primary rounded-5"><h5 id="txtSun4" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSun4" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-1 col-12" id="FifthWeekOfMonth">
                        <button id="btnMon5" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Mon5')" class="border border-1 border-primary rounded-5"><h5 id="txtMon5" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnMon5" />
                        <button id="btnTue5" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Tue5')" class="border border-1 border-primary rounded-5 bg-dark shadow"><h5 id="txtTue5" class="text-white text-center m-0 py-2"></h5></button><input type="hidden" id="hdnTue5" />
                        <button id="btnWed5" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Wed5')" class="border border-1 border-primary rounded-5"><h5 id="txtWed5" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnWed5" />
                        <button id="btnThu5" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Thu5')" class="border border-1 border-primary rounded-5"><h5 id="txtThu5" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnThu5" />
                        <button id="btnFri5" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Fri5')" class="border border-1 border-primary rounded-5"><h5 id="txtFri5" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnFri5" />
                        <button id="btnSat5" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sat5')" class="border border-1 border-primary rounded-5"><h5 id="txtSat5" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSat5" />
                        <button id="btnSun5" style="background-color: transparent; border: none; width: 13%;" onclick="SelectDate('Sun5')" class="border border-1 border-primary rounded-5"><h5 id="txtSun5" class="text-dark text-center m-0 py-2"></h5></button><input type="hidden" id="hdnSun5" />
                    </div>
                </div>
                <div class="m-0 p-0 d-none flex-column align-items-center" id="divYearView">
                    <div class="d-flex justify-content-between align-items-center m-1 col-12" id="FirstYearDiv">
                        <button id="btnY1" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y1')" class="border border-0 bg-secondary rounded-5"><h4 id="txtY1" class="text-white text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY1" />
                        <button id="btnY2" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y2')" class="border border-0 bg-secondary rounded-5"><h4 id="txtY2" class="text-white text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY2" />
                        <button id="btnY3" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y3')" class="border border-0 bg-secondary rounded-5"><h4 id="txtY3" class="text-white text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY3" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-1 col-12" id="SecondYearDiv">
                        <button id="btnY4" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y4')" class="border border-1 border-primary rounded-5"><h4 id="txtY4" class="text-dark text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY4" />
                        <button id="btnY5" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y5')" class="border border-1 border-primary rounded-5"><h4 id="txtY5" class="text-dark text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY5" />
                        <button id="btnY6" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y6')" class="border border-1 border-primary rounded-5"><h4 id="txtY6" class="text-dark text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY6" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-1 col-12" id="ThirdYearDiv">
                        <button id="btnY7" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y7')" class="border border-1 border-primary rounded-5"><h4 id="txtY7" class="text-dark text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY7" />
                        <button id="btnY8" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y8')" class="border border-1 border-primary rounded-5"><h4 id="txtY8" class="text-dark text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY8" />
                        <button id="btnY9" style="background-color: transparent; border: none; width: 30%;" onclick="SelectYear('Y9')" class="border border-1 border-primary rounded-5"><h4 id="txtY9" class="text-dark text-center m-0 py-3"></h4></button><input type="hidden" id="hdnY9" />
                    </div>
                </div>
            </div>
            <div class="modal-footer pt-3 pb-3 mx-3 border-2 border-top border-dark">
                <div class="col-6 m-0">
                    <button type="button" style="background-color: transparent; border: none;" onclick="SelectTodaysDate()"><p class="m-0 text-info">Today</p></button><input type="hidden" id="hdnToday" />
                </div>
                <div class="d-flex m-0 justify-content-between col-6">
                    <button type="button" style="background-color: transparent; border: none;" onclick="CloseModal()"><h5 class="m-0 text-danger pe-3">Cancel</h5></button>
                    <button type="button" style="background-color: transparent; border: none;" onclick="ConfirmSelectDate()"><h5 class="m-0 text-success pe-2">OK</h5></button>
                    <input type="hidden" value="" id="hdnCurrentSelectedDate" />
                    <input type="hidden" value="" id="hdnCurrentSelectedDiv" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var year = @InputedYear
        var months = @InputedMonth
        var day = @InputedDay
        $('#txtCurrentYear').html(year);
        LoadWindow(year, months, day);
        console.log('DatePickerPageLoaded')
    });

    function CloseModal()
    {
        document.getElementById('DatePickerContainter').style.display = 'none';
    }

    function ConfirmSelectDate()
    {

    }

    function SelectYear(YearText)
    {
        $('#divHeaderMonthView').removeClass('d-none').addClass('d-flex');
        $('#divMonthView').removeClass('d-none').addClass('d-flex');

        $('#divHeaderYearView').removeClass('d-flex').addClass('d-none');
        $('#divYearView').removeClass('d-flex').addClass('d-none');

        var SelectedDate = new Date($('#hdn' + YearText).val())
        var SelectedMonth = SelectedDate.getMonth()
        var SelectedDay = SelectedDate.getDate()
        var SelectedYear = SelectedDate.getFullYear()

        $('#hdnCurrentSelectedDate').val(SelectedDate)
        ChangeMonth(SelectedYear, SelectedMonth)
      
    }

    function ChangeYear(year)
    {
        var CurrentSelectedDate = new Date($('#hdnCurrentSelectedDate').val())
        var SelectedMonth = CurrentSelectedDate.getMonth()
        var SelectedDay = CurrentSelectedDate.getDate()
        var SelectedYear = CurrentSelectedDate.getFullYear()

        var FirstYear = year - 4
        var NextYear = year + 3
        var PreviousYear = year - 3

        $("#btnPreviousYear").attr("onclick", "ChageYear('" + PreviousYear + "')");
        $("#btnNextYear").attr("onclick", "ChangeYear('" + NextYear + "')");

        for(var i = FirstYear; i <= (FirstYear + 9); i++)
        {
            var LoopDate = new Date(i, SelectedMonth, SelectedDay);

            var nYearTxt =  "Y" + i;

            if(i == SelectedYear)
            {
                $('#btn' + nYearTxt).removeClass().addClass('border border-1 border-primary rounded-5 bg-dark shadow');
                $('#txt' + nYearTxt).removeClass().addClass('text-white text-center m-0 py-3');
                $('#txt' + nYearTxt).html(i);
                $('#hdn' + nYearTxt).val(LoopDate);             
            }
            else
            {
                $('#btn' + nYearTxt).removeClass().addClass('border border-1 border-primary rounded-5');
                $('#txt' + nYearTxt).removeClass().addClass('text-dark text-center m-0 py-3');
                $('#txt' + nYearTxt).html(i);
                $('#hdn' + nYearTxt).val(LoopDate);  
            }
        }

    }

    function SwitchToYear()
    {
        $('#divHeaderMonthView').removeClass('d-flex').addClass('d-none');
        $('#divMonthView').removeClass('d-flex').addClass('d-none');

        $('#divHeaderYearView').removeClass('d-none').addClass('d-flex');
        $('#divYearView').removeClass('d-none').addClass('d-flex');

        var CurrentSelectedDate = new Date($('#hdnCurrentSelectedDate').val())
        var SelectedMonth = CurrentSelectedDate.getMonth()
        var SelectedDay = CurrentSelectedDate.getDate()
        var SelectedYear = CurrentSelectedDate.getFullYear()

        var FirstYear = SelectedYear - 4
        var NextYear = SelectedYear + 3
        var PreviousYear = SelectedYear - 3

        $("#btnPreviousYear").attr("onclick", "ChageYear('" + PreviousYear + "')");
        $("#btnNextYear").attr("onclick", "ChangeYear('" + NextYear + "')");

        for(var i = FirstYear; i <= (FirstYear + 9); i++)
        {
            var LoopDate = new Date(i, SelectedMonth, SelectedDay);

            var nYearTxt =  "Y" + i;

            if(i == SelectedYear)
            {
                $('#btn' + nYearTxt).removeClass().addClass('border border-1 border-primary rounded-5 bg-dark shadow');
                $('#txt' + nYearTxt).removeClass().addClass('text-white text-center m-0 py-3');
                $('#txt' + nYearTxt).html(i);
                $('#hdn' + nYearTxt).val(LoopDate);             
            }
            else
            {
                $('#btn' + nYearTxt).removeClass().addClass('border border-1 border-primary rounded-5');
                $('#txt' + nYearTxt).removeClass().addClass('text-dark text-center m-0 py-3');
                $('#txt' + nYearTxt).html(i);
                $('#hdn' + nYearTxt).val(LoopDate);  
            }
        }


    }


    const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    const weekday = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

    function SelectTodaysDate()
    {
        var TodaysDate = new Date()
        var CurrentMonth = month[TodaysDate.getMonth()]

        var SelectedMonth = $('#txtCurrentMonth').html()

        var year = TodaysDate.getFullYear()
        var months = TodaysDate.getMonth() + 1
        var day = TodaysDate.getDate()

        if (CurrentMonth == SelectedMonth) 
        {
            LoadWindow(year,months,day)
        }
        else
        {
            $('#hdnCurrentSelectedDate').val(TodaysDate)
            months = months - 1
            ChangeMonth(year, months)
        }
    }

    function LoadWindow(year, months, day)
    {
        months = months - 1
        var Today = new Date()
        $('#hdnToday').val(Today) 

        var CurrentDate = new Date(year, months, day);
        var CurrentMonth = month[CurrentDate.getMonth()];

        var firstDay = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth(), 1);
        var lastDay = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth() + 1, 0);

        var LastDate = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth(), 1);
        LastDate.setDate(LastDate.getDate() - 1)

        var NextDate = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth() + 1, 0);
        NextDate.setDate(NextDate.getDate() + 1)

        $('#txtCurrentMonth').html(CurrentMonth);
        $("#btnPreviousMonth").attr("onclick", "ChangeMonth('" + LastDate.getFullYear() + "','" + LastDate.getMonth() + "')");
        $("#btnNextMonth").attr("onclick", "ChangeMonth('" + NextDate.getFullYear() + "','" + NextDate.getMonth() + "')");


        var Day = firstDay.getDay()
        var NumberOfDaysLastMonth = Day - 1
        if (NumberOfDaysLastMonth < 0)
        {
            NumberOfDaysLastMonth = 6
        }

        var PerviousMonthDay = firstDay
        PerviousMonthDay.setDate(PerviousMonthDay.getDate() - NumberOfDaysLastMonth)

        var j = 1
        //ToDo: loop through and add the firstweek Values and set the Styling / any onclicks ==Use Math.ceil==
        for (var i = PerviousMonthDay.getDate(); i < (PerviousMonthDay.getDate() + NumberOfDaysLastMonth); i++) 
        {
            var LoopDate = new Date(PerviousMonthDay.getFullYear(), PerviousMonthDay.getMonth(), i);

            var Day = LoopDate.getDay()
            var DayString = weekday[Day]

            var nWeekOfTheMonth = Math.ceil(j/7)
            var nWeekOfTheMonthTxt = DayString + "" + nWeekOfTheMonth
            
            $('#btn' + nWeekOfTheMonthTxt).removeClass().addClass('border border-0 bg-secondary rounded-5');
            $('#txt' + nWeekOfTheMonthTxt).removeClass().addClass('text-white text-center m-0 py-2');
            $('#txt' + nWeekOfTheMonthTxt).html(LoopDate.getDate());
            $('#hdn' + nWeekOfTheMonthTxt).val(LoopDate);             
            $('#btn' + nWeekOfTheMonthTxt).prop('disabled', true);

            j++
        }

        for (var i = 1; i <= lastDay.getDate(); i++)
        {
            var LoopDate = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth(), i);

            var Day = LoopDate.getDay()
            var DayString = weekday[Day]

            var nWeekOfTheMonth = Math.ceil(j/7)
            var nWeekOfTheMonthTxt = DayString + "" + nWeekOfTheMonth
            
            if(LoopDate.getDate() == CurrentDate.getDate())
            {
                $('#btn' + nWeekOfTheMonthTxt).removeClass().addClass('border border-1 border-primary rounded-5 bg-dark shadow');
                $('#txt' + nWeekOfTheMonthTxt).removeClass().addClass('text-white text-center m-0 py-2');
                $('#txt' + nWeekOfTheMonthTxt).html(LoopDate.getDate());
                $('#hdn' + nWeekOfTheMonthTxt).val(LoopDate);             
                $('#btn' + nWeekOfTheMonthTxt).prop('disabled', false);

                $('#hdnCurrentSelectedDate').val(LoopDate);
                $('#hdnCurrentSelectedDiv').val(nWeekOfTheMonthTxt);
            }
            else
            {
                $('#btn' + nWeekOfTheMonthTxt).removeClass().addClass('border border-1 border-primary rounded-5');
                $('#txt' + nWeekOfTheMonthTxt).removeClass().addClass('text-dark text-center m-0 py-2');
                $('#txt' + nWeekOfTheMonthTxt).html(LoopDate.getDate());
                $('#hdn' + nWeekOfTheMonthTxt).val(LoopDate);             
                $('#btn' + nWeekOfTheMonthTxt).prop('disabled', false);
            }

            j++

        }

        var Day = lastDay.getDay()
        var NumberOfDaysNextMonth = 7 - Day
        if (NumberOfDaysNextMonth == 7)
        {
            NumberOfDaysNextMonth = 0
        }

        var NextMonthDay = lastDay
        NextMonthDay.setDate(NextMonthDay.getDate() + NumberOfDaysNextMonth)
        
        for (var i = 1; i <= NumberOfDaysNextMonth; i++) {
            var LoopDate = new Date(NextMonthDay.getFullYear(), NextMonthDay.getMonth(), i);

            var Day = LoopDate.getDay()
            var DayString = weekday[Day]

            var nWeekOfTheMonth = Math.ceil(j/7)
            var nWeekOfTheMonthTxt = DayString + "" + nWeekOfTheMonth
            
            $('#btn' + nWeekOfTheMonthTxt).removeClass().addClass('border border-0 bg-secondary rounded-5');
            $('#txt' + nWeekOfTheMonthTxt).removeClass().addClass('text-white text-center m-0 py-2');
            $('#txt' + nWeekOfTheMonthTxt).html(LoopDate.getDate());
            $('#hdn' + nWeekOfTheMonthTxt).val(LoopDate);             
            $('#btn' + nWeekOfTheMonthTxt).prop('disabled', true);

            j++
        }

    }

    function SelectDate(divDate)
    {

        var CurrentDate = new Date($('#hdnCurrentSelectedDate').val())
        var CurrentSelectedDiv = $('#hdnCurrentSelectedDiv').val()
        
        var CurrentMonth = month[CurrentDate.getMonth()]

        if(CurrentMonth == $('#txtCurrentMonth').html())
        {
            $('#btn' + CurrentSelectedDiv).removeClass().addClass('border border-1 border-primary rounded-5');
            $('#txt' + CurrentSelectedDiv).removeClass().addClass('text-dark text-center m-0 py-2');            
            $('#btn' + CurrentSelectedDiv).prop('disabled', false);  
        }

        $('#btn' + divDate).removeClass().addClass('border border-1 border-primary rounded-5 bg-dark shadow');
        $('#txt' + divDate).removeClass().addClass('text-white text-center m-0 py-2');            
        $('#btn' + divDate).prop('disabled', false);

        $('#hdnCurrentSelectedDate').val($('#hdn'+ divDate).val());
        $('#hdnCurrentSelectedDiv').val(divDate)

    }

    function ChangeMonth(year, months) {

        var CurrentDate = new Date($('#hdnCurrentSelectedDate').val())
        var CurrentSelectedDate = new Date(CurrentDate.getFullYear(), CurrentDate.getMonth(), CurrentDate.getDate())

        var CurrentDateRequest = new Date(year, months, 2);
        var CurrentMonthRequest = month[CurrentDateRequest.getMonth()];

        var firstDay = new Date(CurrentDateRequest.getFullYear(), CurrentDateRequest.getMonth(), 1);
        var lastDay = new Date(CurrentDateRequest.getFullYear(), CurrentDateRequest.getMonth() + 1, 0);

        var LastDate = new Date(CurrentDateRequest.getFullYear(), CurrentDateRequest.getMonth(), 1);
        LastDate.setDate(LastDate.getDate() - 1)

        var NextDate = new Date(CurrentDateRequest.getFullYear(), CurrentDateRequest.getMonth() + 1, 0);
        NextDate.setDate(NextDate.getDate() + 1)

        $('#txtCurrentMonth').html(CurrentMonthRequest);
        $("#btnPreviousMonth").attr("onclick", "ChangeMonth('" + LastDate.getFullYear() + "','" + LastDate.getMonth() + "')");
        $("#btnNextMonth").attr("onclick", "ChangeMonth('" + NextDate.getFullYear() + "','" + NextDate.getMonth() + "')");

        var Day = firstDay.getDay()
        var NumberOfDaysLastMonth = Day - 1
        if (NumberOfDaysLastMonth < 0)
        {
            NumberOfDaysLastMonth = 6
        }

        var PerviousMonthDay = firstDay
        PerviousMonthDay.setDate(PerviousMonthDay.getDate() - NumberOfDaysLastMonth)

        var j = 1
        //ToDo: loop through and add the firstweek Values and set the Styling / any onclicks ==Use Math.ceil==
        for (var i = PerviousMonthDay.getDate(); i < (PerviousMonthDay.getDate() + NumberOfDaysLastMonth); i++) 
        {
            var LoopDate = new Date(PerviousMonthDay.getFullYear(), PerviousMonthDay.getMonth(), i);

            var Day = LoopDate.getDay()
            var DayString = weekday[Day]

            var nWeekOfTheMonth = Math.ceil(j/7)
            var nWeekOfTheMonthTxt = DayString + "" + nWeekOfTheMonth
            
            $('#btn' + nWeekOfTheMonthTxt).removeClass().addClass('border border-0 bg-secondary rounded-5');
            $('#txt' + nWeekOfTheMonthTxt).removeClass().addClass('text-white text-center m-0 py-2');
            $('#txt' + nWeekOfTheMonthTxt).html(LoopDate.getDate());
            $('#hdn' + nWeekOfTheMonthTxt).val(LoopDate);             
            $('#btn' + nWeekOfTheMonthTxt).prop('disabled', true);

            j++
        }

        for (var i = 1; i <= lastDay.getDate(); i++)
        {
            var LoopDate = new Date(CurrentDateRequest.getFullYear(), CurrentDateRequest.getMonth(), i);

            var Day = LoopDate.getDay()
            var DayString = weekday[Day]

            var nWeekOfTheMonth = Math.ceil(j/7)
            var nWeekOfTheMonthTxt = DayString + "" + nWeekOfTheMonth
            
            if (LoopDate.getDate() == CurrentSelectedDate.getDate() && LoopDate.getMonth() == CurrentSelectedDate.getMonth()) 
            {
                $('#btn' + nWeekOfTheMonthTxt).removeClass().addClass('border border-1 border-primary rounded-5 bg-dark shadow');
                $('#txt' + nWeekOfTheMonthTxt).removeClass().addClass('text-white text-center m-0 py-2');
                $('#txt' + nWeekOfTheMonthTxt).html(LoopDate.getDate());
                $('#hdn' + nWeekOfTheMonthTxt).val(LoopDate);             
                $('#btn' + nWeekOfTheMonthTxt).prop('disabled', false);

                $('#hdnCurrentSelectedDate').val(LoopDate);
                $('#hdnCurrentSelectedDiv').val(nWeekOfTheMonthTxt);
            }
            else
            {
                $('#btn' + nWeekOfTheMonthTxt).removeClass().addClass('border border-1 border-primary rounded-5');
                $('#txt' + nWeekOfTheMonthTxt).removeClass().addClass('text-dark text-center m-0 py-2');
                $('#txt' + nWeekOfTheMonthTxt).html(LoopDate.getDate());
                $('#hdn' + nWeekOfTheMonthTxt).val(LoopDate);             
                $('#btn' + nWeekOfTheMonthTxt).prop('disabled', false);
            }

            j++

        }

        var Day = lastDay.getDay()
        var NumberOfDaysNextMonth = 7 - Day
        if (NumberOfDaysNextMonth == 7) {
            NumberOfDaysNextMonth = 0
        }

        var NextMonthDay = lastDay
        NextMonthDay.setDate(NextMonthDay.getDate() + NumberOfDaysNextMonth)

        for (var i = 1; i <= NumberOfDaysNextMonth; i++) {
            var LoopDate = new Date(NextMonthDay.getFullYear(), NextMonthDay.getMonth(), i);

            var Day = LoopDate.getDay()
            var DayString = weekday[Day]

            var nWeekOfTheMonth = Math.ceil(j / 7)
            var nWeekOfTheMonthTxt = DayString + "" + nWeekOfTheMonth

            $('#btn' + nWeekOfTheMonthTxt).removeClass().addClass('border border-0 bg-secondary rounded-5');
            $('#txt' + nWeekOfTheMonthTxt).removeClass().addClass('text-white text-center m-0 py-2');
            $('#txt' + nWeekOfTheMonthTxt).html(LoopDate.getDate());
            $('#hdn' + nWeekOfTheMonthTxt).val(LoopDate);
            $('#btn' + nWeekOfTheMonthTxt).prop('disabled', true);

            j++
        }


    }

</script>