html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        max-width: 900px;
        margin: auto;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    max-width: 900px;
    margin: auto;
}

footer {
    line-height: normal;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  max-width: 500px;
  width: 95vw; /* Set a default minimum width */
  margin-left: -47.5vw; /* Divide value of min-width by 2 */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 999; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 8vh; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 1s, 4s;
  animation: fadein 1s, 4s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 8vh; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 8vh; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 8vh; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 8vh; opacity: 1;}
  to {top: 0; opacity: 0;}
}

.infoouter {
    position: fixed;
    top: 10vh;
    width: 60px;
    /*    max-width: 60px;*/
    height: 50px;
    /*    max-height: 50px;*/
    z-index: 99;
    /*        border: 1px solid #aea79f;
    border-left: none;*/
}

.infoinner {
    width: 50px;
    /*    max-width: 50px;*/
    height: 50px;
    /*    max-height: 50px;*/
    padding: 0px;
    margin: 0px;
    z-index: 99;
    background-color: #17a2b8;
}

.infobutton {
    width: 20px;
    /*    max-width: 20px;*/
    height: 50px;
    /*    max-height: 50px;*/
    padding: 0px;
    margin: 0px;
    z-index: 99;
    background-color: #17a2b8;
    border-left: 1px solid white;
    line-height: 50px;
}
