.input-container {
position: relative;
margin-bottom: 25px;
}

.input-container label {
position: absolute;
top: 0px;
left: 0px;
font-size: 16px;
color: #e95420;
transition: all 0.5s ease-in-out;
}

.input-container input {
border: 0;
border-bottom: 1px solid #772953;
background: transparent;
width: 100%;
padding: 8px 0 5px 0;
font-size: 16pt;
color: #e95420;
text-align: center;
}

.input-container input:valid,
.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e95420;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -12px;
    font-size: 12px;
    color: #e95420;
}

.input-container ::placeholder {
    text-align: center;
    color: #772953;
}





