@model LogonPageModel

@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_LayoutForHomeLogon.cshtml";
}

<form method="post" class="fill align-items-baseline">
    <div class="d-flex flex-column justify-content-end align-items-center vh-100" style="background-color: transparent;">
        <div class="align-items-center mb-5">
            <img src="~/img/logoFiles/ForWeb/png/JustlogoOrange.png" class="shadow rounded-circle" style="max-width: 150px; background-color: transparent;" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="container row justify-content-center mb-5 mt-5">
            <a href="/Accounts/Register" class="col-5 rounded-pill shadow btn btn-light text-primary">Register</a>
            <div class="col-1"></div>
            <a href="/Accounts/Logon" class="col-5 rounded-pill shadow btn btn-light text-primary">Logon</a>
        </div>
        <div class="d-flex container justify-content-center mb-5 mt-5">
            <div class="m-5">
                <img src="~/img/logoFiles/ForWeb/png/Whitenamenobackground.png" style="max-width: 300px; background-color: transparent;" />

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    }