@model DailySpendBudgetWebApp.Models.CreateABudgetPageModel

@{
    ViewData["Title"] = "Enter Budget Details";
    Layout = "~/Views/Shared/_LayoutNoFotter.cshtml";
}

<input type="hidden" id="hdnServerDate" value="@ViewBag.CurrentDate" />
<input type="hidden" id="hdnPaymentPeriod" value="@ViewBag.PaymentPeriod" />
<form method="Post">
    <div class="bg-transparent" style="min-height: 82vh;">
        <div class="mt-4 row justify-content-center p-2">
            @if (ViewBag.hasBudgetName)
            {
            <div id="divBudgetName" class="card text-white bg-primary mb-3 shadow rounded-4 ms-3 me-3 border-dark w-75">
                <div class="d-flex justify-content-around align-items-center w-100 mt-auto mb-auto">                        
                    <div class="input-container col-9 mb-3">                        
                        <input class="text-white border-bottom border-1 border-dark" style="font-size:20px;" value="@ViewBag.BudgetName" asp-for="BudgetName" type="text" disabled onchange="ChangeDivBudgetNameBorder();" />
                    </div>
                </div>
            </div>
            }
            else
            {
                <div id="divBudgetName" class="card text-white bg-white mb-3 shadow rounded-4 ms-3 me-3 border-dark w-75">
                    <div class="d-flex justify-content-around align-items-center mt-auto mb-auto">                                        
                    <div class="input-container col-9 mb-3" >
                        <input style="font-size:20px;" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Budget Name'" placeholder="Budget Name" asp-for="BudgetName" type="text" required onchange="ChangeDivBudgetNameBorder();"/>
                            <span style="font-size:10px" class="text-danger text-center" asp-validation-for="BudgetName"></span>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="p-2">
            <div class="accordion mb-3 shadow ms-1 me-1 " id="divBudgetSettings">
                <div class="accordion-item">
                    <h2 class="accordion-header text-white" id="headingTwo">
                        <div class="d-flex align-items-center justify-content-center m-0 p-0">                            
                            <button class="accordion-button text-white bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Budget Period and Balance Details
                            </button>
                        </div>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body p-1">
                            <div class="ps-4 pe-4 mt-2">
                                <label class="d-flex form-label ms-2 mb-2 text-primary" asp-for="StartingBalance"></label>
                                <div class="input-group w-75">
                                    <span style="width: 5%" class="input-group-text" id="CurrencySymbol">£</span>
                                    <input style="width: 45%" asp-for="StartingBalance" type="Number" pattern="^\d*(\.\d{0,2})?$" step="0.01" class="form-control" placeholder="0,000" id="StartingBalance" />
                                </div>
                            </div>
                            <p id="valStartingBalance" class="text-danger m-2" style="font-size: 8pt; display: none;">* You have to enter a current balance, or you'll have no money to spend!'</p>
                            <div id="payinfo" class="ps-4 pe-4 mt-4">
                                <label asp-for="NextIncomeDate" class="d-flex form-label ms-2 mb-2 text-primary"></label>
                                <input class="form-control text-secondary w-75" type="date" asp-for="NextIncomeDate"/>
                            </div>
                            <p id="valNextIncomeDate" class="text-danger m-2" style="font-size: 8pt; display: none;">* Please select a date for your next pay day, and make sure it is in the future ... obviously!'</p>
                            <div class="ms-4 mb-1 mt-4 ps-2 text-primary">
                            </div>
                            <div class="text-primary mb-3 ps-3">I want my budgeting Period to be ...</div>
                            <fieldset class="form-group">
                                <div style="font-size: 10pt;" class="ms-5 me-4 justify-content-between" id="PayRadioButtons">
                                    <div class="form-check col-10 p-0">
                                        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" asp-for="Everynth" />
                                        <label class="form-check-label align-self-center text-secondary" for="optionsRadios1" id="lblOptionsRadios1">
                                            Every nth ...
                                        </label>
                                    </div>
                                    <div class="form-check col-10 p-0">
                                        <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios2" asp-for="WorkingDays" value="option2" />
                                        <label class="form-check-label align-self-center text-secondary" for="optionsRadios2" id="lblOptionsRadios2">
                                            ... Working days before end of month
                                        </label>
                                    </div>
                                    <div class="form-check col-10 p-0">
                                        <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios3" asp-for="OfEveryMonth" value="option3" checked="True" />
                                        <label class="form-check-label align-self-center text-secondary" for="optionsRadios3" id="lblOptionsRadios3">
                                            on the ... of every month
                                        </label>
                                    </div>
                                    <div class="form-check col-10 p-0">
                                        <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios4" asp-for="LastOfTheMonth" value="option3" />
                                        <label class="form-check-label align-self-center text-secondary" for="optionsRadios4" id="lblOptionsRadios4">
                                           on the last ... of the month
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <p id="valPayTypeRadioButtons" class="text-danger m-2" style="font-size: 8pt; display: none;">* Make sure to tell us how ofetn you get paid :)</p>
                            <div class="ps-4 pe-4">
                                <div id="divPeriodicPay" style="display: none">
                                    <span>Every</span>
                                    <input class="form-control text-secondary" type="Number" min="1" max="28" asp-for="PeriodicPayPeriod"/>
                                    <div class="DropDown">
                                        <select class="form-select text-secondary" id="PeriodicPayDuration" data-form-type="">
                                            <option>days</option>
                                            <option>weeks</option>
                                            <option>months</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="divLastDayOfMonthPay" style="display: none">
                                    <input class="form-control text-secondary" type="Number" min="1" max="28" asp-for="LastDayOfMonthPayPeriod"/>
                                    <span id="OrdinalIndicatorLast"></span>
                                    <span>Working days before end of the month</span>
                                </div>
                                <div id="divGivenDayOfMonthPay" style="display: block">
                                    <span>On the </span>
                                    <input class="form-control text-secondary" type="Number" min="1" max="28" asp-for="GivenDayOfMonthPayPeriod"/>
                                    <span id="OrdinalIndicatorGiven"></span>
                                    <span> of every month</span>
                                </div>
                                <div id="divLastGivenDayOfWeekPay" style="display: none" class="DropDown">
                                    <span>On the Last</span>
                                    <select class="form-select text-secondary" asp-for="LastGivenDayOfWeekPay" data-form-type="">
                                        <option>Monday</option>
                                        <option>Tuesday</option>
                                        <option>Wednesday</option>
                                        <option>Thursday</option>
                                        <option>Friday</option>
                                        <option>Saturday</option>
                                        <option>Sunday</option>
                                    </select>
                                    <span> of the month</span>
                                </div>
                            </div>
                            <p id="valPayOptions" class="text-danger m-2" style="font-size: 8pt; display: none;">* Provide the details of how often you're paid, OR ELSE!'</p>
                            <div id="divSaveBudgetDetails" class="d-flex align-items-center justify-content-end p-1">
                                <button type="submit" asp-action="SaveBudgetDetails" asp-controller="Budgets" id="btnSaveBudgetDetails" class="btn btn-primary">Save Budget Details</button>
                                <button type="button" id="btnEditBudgetDetails" class="btn btn-dark" style="display: none;">Edit Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                            
            <div class="accordion mb-3 shadow ms-1 me-1 " id="divBudgetSettings">
                <div class="accordion-item">
                    <h2 class="accordion-header text-white" id="headingOne">
                        <div>
                            <button class="accordion-button text-white bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Budget Settings!
                            </button>
                        </div>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <div class="DropDown">
                                <label asp-for="CurrencyDDL" id="lblCurrencyDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                                <select onchange="onSelectionChangeWLabel('CurrencyDDL');" asp-for="CurrencyDDL" asp-items=ViewBag.CurrencyDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
                            </div>
                            <div class="DropDown">
                                <label asp-for="NumberFormatDDL" id="lblNumberFormatDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                                <select onchange="onSelectionChangeWLabel('NumberFormatDDL');" id="NumberFormatDDL" asp-for="NumberFormatDDL" asp-items=ViewBag.NumberFormatDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
                            </div>
                            <div class="DropDown">
                                <label asp-for="CurrencyPlacementDDL" id="lblCurrencyPlacementDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                                <select onchange="onSelectionChangeWLabel('CurrencyPlacementDDL');" asp-for="CurrencyPlacementDDL" asp-items=ViewBag.CurrencyPlacementDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
                            </div>
                            <div class="DropDown">
                                <label asp-for="DateFormatDDL" id="lblDateFormatDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                                <select onchange="onSelectionChangeWLabel('DateFormatDDL');" asp-for="DateFormatDDL" asp-items=ViewBag.DateFormatDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SummaryIncomeDetails" style="display: none;" class="card text-white bg-primary mb-3 shadow">
            <div class="card-header p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Payday Baby!</h5>
                    <a href="#" id="EditIncomeDetails" class="text-white"><i class="bi bi-pencil-square text-white"></i></a>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="card-text">
                    <div id="divMessageStringOne" class="pb-2"></div>
                    <div id="divMessageStringTwo" class="pb-2"></div>
                </div>
            </div>
        </div>
        <div id="SummarySavingsDetails" style="display: none;" class="card text-white bg-primary mt-3 mb-3 shadow">
            <div class="card-header p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="m-0">What ya Saving for?!</h5>
                    <a href="#" id="EditSavingsDetails" class="text-white"><i class="bi bi-pencil-square text-white"></i></a>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="card-text">
                    <div id="divSavingsSummaryMessageString" class="pb-2"></div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div id="OpenSavingsDetails" class="p-2">
                <a class="btn btn-lg btn-dark rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Some Savings &nbsp;<i class="bi bi-piggy-bank text-white"></i></a>
            </div>
            <div id="OpenBillsDetails" class="p-2">
                <a class="btn btn-lg btn-dark rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Some Bills &nbsp;<i class="bi bi-receipt text-white"></i></a>
            </div>
            <div id="OpenIncomeDetails" class="p-2">
                <a class="btn btn-lg btn-dark rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Extra Income! &nbsp;<i class="bi bi-cash-stack text-white"></i></a>
            </div>
        </div>        
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="max-width: 80vw;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
              Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
            </div>           
        </div>
    </div>
    <footer class="sticky-bottom m-0 p-0"style="width: 100%">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <button type="submit" class="btn btn-lg btn-success rounded-1 mb-4 col-10"><i class="bi bi-file-earmark-plus"></i> &nbsp Create Budget</button>
        </div>
    </footer>
</form>
<form method="post">
    <div class="modal" id="SavingsModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                    <h5 class="modal-title text-primary">Add a Saving to your Budget</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="SavingsModal" aria-label="Close" id="CloseSavingModal">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="SavingsInfo">
                    </div>
                </div>
                <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                    <button asp-controller="Budgets" asp-action="AddSavingBudget" type="submit" id="btnSaveSavings" class="btn btn-primary">Save changes</button>
                    <button type="button" id="btnCancelSavings" class="btn btn-danger" data-bs-dismiss="SavingsModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="Post">
    <div class="modal" id="BillsModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                    <h5 class="modal-title text-primary">Add a Bill to your Budget</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="BillsModal" aria-label="Close" id="CloseBillsModal">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="BillsInfo">
                    </div>
                </div>
                <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                    <button type="button" id="btnSaveBills" class="btn btn-primary">Save changes</button>
                    <button type="button" id="btnCancelBills" class="btn btn-danger" data-bs-dismiss="BillsModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
     const weekday = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    const monthlist = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec'];
    const NoOfDaysMonth = [31,28,31,30,31,30,31,31,30,31,30,31];

    const modal = document.getElementById("modal");
    const SavingsModal = document.getElementById("SavingsModal");
    const summary = document.getElementById("SummaryIncomeDetails");
    const open = document.getElementById("OpenIncomeDetails") ;
    const btnOpen = document.getElementById("OpenIncomeDetails");
    const btnCancel = document.getElementById("btnCancelModal");
    const btnCloseModal = document.getElementById("btnCloseModal");
    const btnSaveIncome = document.getElementById("btnSaveIncome");
    const btnEditIncome =  document.getElementById("EditIncomeDetails");
    const btnAddSavings = document.getElementById("btnAddSavings");
    const btnNoSavings = document.getElementById("btnNoSavings");
    const btnSaveSavings = document.getElementById("btnSaveSavings");
    const btnCancelSavings = document.getElementById("btnCancelSavings");

    function ChangeDivBudgetNameBorder()
    {
        var x = document.getElementById("divBudgetName")
        if (document.getElementById("BudgetName").value == '')
        {            
            if (x.className.includes("border-primary"))
            {
                x.className = x.className.replace("border-primary", "border-dark");
            }           
        }
        else
        {
            if (x.className.includes("border-dark")) {
                x.className = x.className.replace("border-dark", "border-primary");
            }
        }            
    }    

    document.getElementById("OpenSavingsDetails").onclick = function(){
        
        document.getElementById("SavingsModal").style.display = "block"
        $('#SavingsInfo').empty();
        $('#SavingsInfo').load("/Budgets/AddSavingPV");
    }

    document.getElementById("OpenBillsDetails").onclick = function () {
        document.getElementById("BillsModal").style.display = "block"
        $('#BillsInfo').empty();
        $('#BillsInfo').load("/Budgets/AddBillPV");
    }

    document.getElementById("CloseSavingModal").onclick = function () {
        document.getElementById("SavingsModal").style.display = "none";
    }

    document.getElementById("CloseBillsModal").onclick = function () {
        document.getElementById("BillsModal").style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal || event.target == SavingsModal || event.target == BillsModal) {
            //modal.style.display = "none";
            SavingsModal.style.display = "none";
            BillsModal.style.display = "none";
        }
    }

    const PeriodicPay = document.getElementById('divPeriodicPay');
    const GivenPay = document.getElementById('divGivenDayOfMonthPay');
    const LastPay = document.getElementById('divLastDayOfMonthPay');
    const GivenDay = document.getElementById('divLastGivenDayOfWeekPay');
    

    function handleIncomeRadioClick() {
        if (document.getElementById('optionsRadios1').checked) 
        {
            PeriodicPay.style.display = 'block';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
            
        } 
        else if (document.getElementById('optionsRadios2').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'block';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
        }
        else if (document.getElementById('optionsRadios3').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'block';
            GivenDay.style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
        }
        else if (document.getElementById('optionsRadios4').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'block';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-primary"
        }
    }

    const radioButtons = document.querySelectorAll('input[name="optionsRadios"]');

    radioButtons.forEach(radio => {
    radio.addEventListener('click', handleIncomeRadioClick);
    });

    function onSelectionChangeWLabel(Element){
        const ChangeElement = document.getElementById(Element);
        const lblChangeElement = document.getElementById('lbl'+Element);
        ChangeElement.className="form-control w-75 ms-4 border-0 text-primary p-0 ps-4";
        lblChangeElement.className = "d-flex form-label ms-4 mb-0 text-primary"
    }

    $(document).on('keydown', 'input[pattern]', function (e) {
        var input = $(this);
        var oldVal = input.val();
        var regex = new RegExp(input.attr('pattern'), 'g');

        setTimeout(function () {
            var newVal = input.val();
            if (!regex.test(newVal)) {
                input.val(oldVal);
            }
        }, 1);
    });

</script>
