@model DailySpendBudgetWebApp.Models.CreateABudgetPageModel

@{
    ViewData["Title"] = "Enter Budget Details";
    Layout = "~/Views/Shared/_LayoutNoFotter.cshtml";
}

<form method="Post">
    <div class="bg-transparent" style="min-height: 82vh;">
        <div class="container mt-2">
            @if (ViewBag.hasBudgetName)
            {
            <div class="d-flex justify-content-center w-100 mt-auto mb-auto">
                <div class="input-container col-9 mb-3">
                    <input class="text-secondary border-bottom border-1 border-secondary" style="font-size:20px;" value="@ViewBag.BudgetName" asp-for="BudgetName" type="text" disabled />
                    <span class="text-danger" asp-validation-for="BudgetName"></span>
                </div>
            </div>
            }
            else
            {
            <div class="d-flex justify-content-center mt-auto mb-auto">
                <div class="input-container col-9 mb-3" >
                    <input style="font-size:20px;" placeholder="Budget Name" asp-for="BudgetName" type="text" required />
                    <span class="text-danger" asp-validation-for="BudgetName"></span>
                </div>
            </div>
            }
        </div>
        <div class="mb-2">
            <h5 class="text-dark p-2">Budget Settings!</h5>
            <div class="DropDown">
                <label asp-for="CurrencyDDL" id="lblCurrencyDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                <select onchange="onSelectionChangeWLabel('CurrencyDDL');" asp-for="CurrencyDDL" asp-items=ViewBag.CurrencyDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
            </div>
            <div class="DropDown">
                <label asp-for="NumberFormatDDL" id="lblNumberFormatDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                <select onchange="onSelectionChangeWLabel('NumberFormatDDL');" id="NumberFormatDDL" asp-for="NumberFormatDDL" asp-items=ViewBag.NumberFormatDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
            </div>
            <div class="DropDown">
                <label asp-for="CurrencyPlacementDDL" id="lblCurrencyPlacementDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                <select onchange="onSelectionChangeWLabel('CurrencyPlacementDDL');" asp-for="CurrencyPlacementDDL" asp-items=ViewBag.CurrencyPlacementDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
            </div>
            <div class="DropDown">
                <label asp-for="DateFormatDDL" id="lblDateFormatDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                <select onchange="onSelectionChangeWLabel('DateFormatDDL');" asp-for="DateFormatDDL" asp-items=ViewBag.DateFormatDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
            </div>
        </div>
        <h5 class="text-dark p-2">Budget Details!</h5>
        <div id="SummaryIncomeDetails" style="display: none;" class="card text-white bg-primary mb-3 shadow">
            <div class="card-header p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="m-0">Payday Baby!</h5>
                    <a href="#" id="EditIncomeDetails" class="text-white"><i class="bi bi-pencil-square text-white"></i></a>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="card-text">
                    <div id="divMessageStringOne" class="pb-2"></div>
                    <div id="divMessageStringTwo" class="pb-2"></div>
                </div>
            </div>
        </div>
        <div id="SummarySavingsDetails" style="display: none;" class="card text-white bg-primary mt-3 mb-3 shadow">
            <div class="card-header p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="m-0">What ya Saving for?!</h5>
                    <a href="#" id="EditSavingsDetails" class="text-white"><i class="bi bi-pencil-square text-white"></i></a>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="card-text">
                    <div id="divSavingsSummaryMessageString" class="pb-2"></div>
                </div>
            </div>
        </div>
        <div id="OpenIncomeDetails" class="p-2">
            <p class="text-secondary" style="font-size: 11pt;"></p>
            <a class="btn btn-lg btn-primary rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Some Mooooney! &nbsp;<i class="bi bi-cash-stack text-white"></i></a>
        </div>
        <div class="modal" id="modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                        <h5 class="modal-title text-primary">Enter the MONIES!</h5>
                        <button id="btnCloseModal"type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-secondary" style="font-size: 8pt;">To start the grind you need to let us know how much money you have, and how often you get paid. Don't worry we'll keep your info safe ... just you, me and the janitor Jim!</p>
                        <div class="ps-4 pe-4 mt-4">
                            <label class="d-flex form-label ms-2 mb-2 text-primary" asp-for="StartingBalance"></label>
                            <div class="input-group w-75">
                                <span style="width: 5%" class="input-group-text" id="CurrencySymbol">£</span>
                                <input style="width: 45%" asp-for="StartingBalance" type="Number" pattern="^\d*(\.\d{0,2})?$" step="0.01" class="form-control" placeholder="0,000" id="StartingBalance" />
                            </div>
                        </div>
                        <p id="valStartingBalance" class="text-danger m-2" style="font-size: 8pt; display: none;">* You have to enter a current balance, or you'll have no money to spend!'</p>
                        <div id="payinfo" class="ps-4 pe-4 mt-4">
                            <label asp-for="NextIncomeDate" class="d-flex form-label ms-2 mb-2 text-primary"></label>
                            <input class="form-control text-secondary w-75" type="date" asp-for="NextIncomeDate" />
                        </div>
                        <p id="valNextIncomeDate" class="text-danger m-2" style="font-size: 8pt; display: none;">* Please select a date for your next pay day, and make sure it is in the future ... obviously!'</p>
                        <div class="ms-4 mb-1 mt-4 ps-2 text-primary">
                            <span >More Money, More Problems!</span>
                        </div>
                        <div class="text-secondary mb-3" style="font-size: 8pt">Tell us some details about your payday! We aren't just nosey we will use this to figure out how much you can spend each day so your money will last you to next PAYDAY. Dont worry you can manually change the day if our math is wrong, probably will be so i'd check!</div>
                        <div class="text-primary mb-3">I get paid ...</div>
                        <fieldset class="form-group">
                            <div style="font-size: 10pt;" class="ms-5 me-4 justify-content-between" id="PayRadioButtons">
                                <div class="form-check col-10 p-0">
                                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""/>
                                    <label class="form-check-label align-self-center text-secondary" for="optionsRadios1" id="lblOptionsRadios1">
                                        Every nth ...
                                    </label>
                                </div>
                                <div class="form-check col-10 p-0">
                                    <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />
                                    <label class="form-check-label align-self-center text-secondary" for="optionsRadios2" id="lblOptionsRadios2">
                                        ... Working days before end of month
                                    </label>
                                </div>
                                <div class="form-check col-10 p-0">
                                    <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios3" value="option3"/>
                                    <label class="form-check-label align-self-center text-secondary" for="optionsRadios3" id="lblOptionsRadios3">
                                        on the ... of every month
                                    </label>
                                </div>
                                <div class="form-check col-10 p-0">
                                    <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios4" value="option3"/>
                                    <label class="form-check-label align-self-center text-secondary" for="optionsRadios4" id="lblOptionsRadios4">
                                       on the last ... of the month
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <p id="valPayTypeRadioButtons" class="text-danger m-2" style="font-size: 8pt; display: none;">* Make sure to tell us how ofetn you get paid :)</p>
                        <div class="p-4">
                            <div id="divPlaceholder" style="min-height: 5vh;"></div>
                            <div id="divPeriodicPay" style="display: none">
                                <span>Every</span>
                                <input class="form-control text-secondary" type="Number" min="1" max="28" asp-for="PeriodicPayPeriod"/>
                                <div class="DropDown">
                                    <select class="form-select text-secondary" id="PeriodicPayDuration" data-form-type="">
                                        <option>days</option>
                                        <option>weeks</option>
                                        <option>months</option>
                                    </select>
                                </div>
                            </div>
                            <div id="divLastDayOfMonthPay" style="display: none">
                                <input class="form-control text-secondary" type="Number" min="1" max="28" asp-for="LastDayOfMonthPayPeriod" />
                                <span id="OrdinalIndicatorLast"></span>
                                <span>Working days before end of the month</span>
                            </div>
                            <div id="divGivenDayOfMonthPay" style="display: none">
                                <span>On the </span>
                                <input class="form-control text-secondary" type="Number" min="1" max="28" asp-for="GivenDayOfMonthPayPeriod" />
                                <span id="OrdinalIndicatorGiven"></span>
                                <span> of every month</span>
                            </div>
                            <div id="divLastGivenDayOfWeekPay" style="display: none" class="DropDown">
                                <span>On the Last</span>
                                <select class="form-select text-secondary" asp-for="LastGivenDayOfWeekPay" data-form-type="">
                                    <option>Monday</option>
                                    <option>Tuesday</option>
                                    <option>Wednesday</option>
                                    <option>Thursday</option>
                                    <option>Friday</option>
                                    <option>Saturday</option>
                                    <option>Sunday</option>
                                </select>
                                <span> of the month</span>
                            </div>
                        </div>
                        <p id="valPayOptions" class="text-danger m-2" style="font-size: 8pt; display: none;">* Provide the details of how often you're paid, OR ELSE!'</p>
                    </div>
                    <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                        <button type="button" id="btnSaveIncome" class="btn btn-primary">Save changes</button>
                        <button type="button" id="btnCancelModal"class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="SavingsModal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                        <h5 class="modal-title text-primary">Modal title</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="SavingsModal" aria-label="Close" id="CloseSavingModal">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lets be honest, if you had savings you wouldn't have downloaded the app. But Just incase, let us know any money that is in the back that is put aside for something?</p>
                        <div id="divSavingsDetails">
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="Number" value="0" hidden id="NumberOfSavings"/>
                            <a href="#" id="btnNoSavings" class="btn btn-danger roudned-pill m-0 p-0"><div class="p-1 ps-4 pe-4">No Savings &nbsp<i class="bi bi-plus-circle p-0 m-0"></i></div></a>
                            <a href="#" id="btnAddSavings" class="btn btn-success roudned-pill m-0 p-0"><div class="p-1 ps-4 pe-4">Add Savings &nbsp<i class="bi bi-plus-circle p-0 m-0"></i></div></a>
                        </div>
                    </div>
                    <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                        <button type="button" id="btnSaveSavings" class="btn btn-primary">Save changes</button>
                        <button type="button" id="btnCancelSavings" class="btn btn-danger" data-bs-dismiss="SavingsModal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="OpenSavingsDetails" class="p-2">
            <a class="btn btn-lg btn-primary rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Savings &nbsp;<i class="bi bi-piggy-bank text-white"></i></a>
        </div>
        <div id="OpenBillsDetails" class="p-2">
            <a class="btn btn-lg btn-dark rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Bills &nbsp;<i class="bi bi-receipt text-white"></i></a>
        </div>
    </div>
    <footer class="sticky-bottom m-0 p-0"style="width: 100%">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <button type="submit" class="btn btn-lg btn-success rounded-1 mb-4 col-10"><i class="bi bi-file-earmark-plus"></i> &nbsp Create Budget</button>
        </div>
    </footer>
</form>

<script>

    const modal = document.getElementById("modal");
    const SavingsModal = document.getElementById("SavingsModal");
    const summary = document.getElementById("SummaryIncomeDetails");
    const open = document.getElementById("OpenIncomeDetails") ;
    const btnOpen = document.getElementById("OpenIncomeDetails");
    const btnCancel = document.getElementById("btnCancelModal");
    const btnCloseModal = document.getElementById("btnCloseModal");
    const btnSaveIncome = document.getElementById("btnSaveIncome");
    const btnEditIncome =  document.getElementById("EditIncomeDetails");
    const btnAddSavings = document.getElementById("btnAddSavings");
    const btnNoSavings = document.getElementById("btnNoSavings");
    const btnSaveSavings = document.getElementById("btnSaveSavings");
    const btnCancelSavings = document.getElementById("btnCancelSavings");

    btnSaveSavings.onclick = function()
    {
        const NumbderOfSavings = parseInt(document.getElementById('NumberOfSavings').value);
        var MessString = '<table class="table table-hover"><thead><tr><th scope="col">Saving Category</th><th scope="col">Saving Goal</th><th scope="col">Saving Balance</th></tr></thead><tbody>';
        for (let i = 0; i <= NumbderOfSavings-1; i++) {
            var SavingCat = document.getElementById("SavingsCat" + i).value;
            var SavingGoal = document.getElementById("SavingsGoal" + i).value;
            var SavingBalance = document.getElementById("SavingsBalance" + i).value;

            MessString += '<tr class="table-dark"><td>' + SavingCat + '</td><td>' + SavingGoal + '</td><td>' + SavingBalance + '</td></tr>';
        }

        MessString += '</tbody></table>';
                            
        document.getElementById('divSavingsSummaryMessageString').innerHTML = MessString;

        document.getElementById("SavingsModal").style.display = "none";
        document.getElementById("SummarySavingsDetails").style.display = "block";
        document.getElementById("OpenSavingsDetails").style.display = "none";
    }

    btnCancelSavings.onclick = function()
    {
        document.getElementById("SavingsModal").style.display = "none";
        document.getElementById('divSavingsDetails').innerHTML ="";
        document.getElementById("OpenSavingsDetails").style.display = "block";
        document.getElementById('divSavingsSummaryMessageString').innerHTML ="You sure none of your money is saved for something? Like tottaly sure?";
    }
    
    btnNoSavings.onclick = function()
    {
        var MessString = "HA! I knew it no savings ... but don't worry that's why we are here!";
        document.getElementById('divSavingsSummaryMessageString').innerHTML = MessString;

        document.getElementById("SavingsModal").style.display = "none";
        document.getElementById("SummarySavingsDetails").style.display = "block";
        document.getElementById("OpenSavingsDetails").style.display = "none";
    }

    btnAddSavings.onclick = function(){
        const divSavingsDetails = document.getElementById("divSavingsDetails");
        var NumberOfSavings = parseInt(document.getElementById("NumberOfSavings").value);
        var AddSavingHTML = '<div id="divSavingNumber' + NumberOfSavings + '" class="border-bottom border-dark border-2 rounded-0 mb-1">' +
                                '<div class="d-flex justify-content-center mt-auto mb-auto">' +
                                    '<div class="input-container col-6 mb-1">' +
                                        '<input name="SavingsName" class="text-primary p-0" maxlength="15" placeholder="Savings Category" type="Text" asp-for="AdditionalSaving['+ NumberOfSavings +'].SavingsName" id="SavingsCat' + NumberOfSavings +'"/>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="d-flex container p-1">' +
                                    '<div class="d-flex flex-column m-0 p-1 align-items-center justify-content-center" style="width: 50%;">' +                                        
                                        '<label class="form-label text-secondary ps-3" asp-for="AdditionalSaving['+ NumberOfSavings +'].SavingsGoal"></label>' +
                                        '<div class="d-flex container p-0">' +
                                            '<span  style="width: 5%" class="input-group-text rounded-0 align-items-center justify-content-center" id="CurrencySymbol">£</span>' +
                                            '<input style="width: 95%" class="form-control text-primary rounded-0" type="Number" pattern="^\\d*(\\.\\d{0,2})?$" step="0.01" asp-for="AdditionalSaving['+ NumberOfSavings +'].SavingsGoal" id="SavingsGoal' + NumberOfSavings +'"/>' +
                                        '</div>' +
                                    '</div>' +
                                    '<div class="d-flex flex-column m-0 p-1 align-items-center justify-content-center" style="width: 50%;">' +                                        
                                        '<label class="form-label text-secondary ps-3" asp-for="AdditionalSaving['+ NumberOfSavings +'].CurrentBalance"></label>' +
                                        '<div class="d-flex container p-0">' +
                                            '<span  style="width: 5%" class="input-group-text rounded-0 align-items-center justify-content-center" id="CurrencySymbol">£</span>' +
                                            '<input style="width: 95%" class="form-control text-primary rounded-0" type="Number" pattern="^\\d*(\\.\\d{0,2})?$" step="0.01" asp-for="AdditionalSaving['+ NumberOfSavings +'].CurrentBalance" id="SavingsBalance' + NumberOfSavings +'"/>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>'; 
        var InnerHTMLText = divSavingsDetails.innerHTML + AddSavingHTML;
        divSavingsDetails.innerHTML = InnerHTMLText;
        NumberOfSavings += 1;
        document.getElementById("NumberOfSavings").value = NumberOfSavings;
    }

    document.getElementById("OpenSavingsDetails").onclick = function(){
        document.getElementById("SavingsModal").style.display = "block";
    }

    document.getElementById("CloseSavingModal").onclick = function () {
        document.getElementById("SavingsModal").style.display = "none";
    }

    document.getElementById("EditSavingsDetails").onclick = function()
    {
        SavingsModal.style.display = "block";
    }

    btnEditIncome.onclick = function(){
        modal.style.display = "block";
    }

    btnSaveIncome.onclick = function(){

        var isIncomeValid = true;
        var InvalidFocus = null;
        var MessString = 'Congrats, you have ';

        const StartingBalance = document.getElementById("StartingBalance").value;


        if (StartingBalance == "")
        {
            isIncomeValid = false;
            document.getElementById("valStartingBalance").style.display = 'block';
            InvalidFocus = document.getElementById("StartingBalance");
        }
        else
        {
            document.getElementById("valStartingBalance").style.display = 'none';
            MessString += '<strong class="text-dark">' + document.getElementById('CurrencySymbol').innerHTML + document.getElementById('StartingBalance').value + '</strong>';
        }

        const NextIncomeDate = document.getElementById("NextIncomeDate").value;
        const currentTime = new Date();
        MessString += ' in the bank. This has to last you until your next payday which is on the ';

        if (NextIncomeDate <= currentTime) 
        {
            isIncomeValid = false;
            document.getElementById("valNextIncomeDate").style.display = 'block';
            if (InvalidFocus == null)
            {
                InvalidFocus = document.getElementById("NextIncomeDate");                
            }
        }
        else
        {
            document.getElementById("valNextIncomeDate").style.display = 'none';
            MessString += '<strong class="text-dark">' + document.getElementById('NextIncomeDate').value + '</strong>' + '.';
        }

        const PayTypeRadioButtons = document.querySelectorAll('[name="optionsRadios"]');
        var isChecked = false;
        var RadioChecked = 'none';

        for (var i = 0; i < PayTypeRadioButtons.length; i++)
        {
            if(PayTypeRadioButtons[i].checked)
            {
                isChecked = true;
                RadioChecked = PayTypeRadioButtons[i].id
            }
        }


        if (!isChecked) 
        {
            isIncomeValid = false;
            document.getElementById("valPayTypeRadioButtons").style.display = 'block';
            if (InvalidFocus == null)
            {
                InvalidFocus = document.getElementById("PayRadioButtons");
            }
        }
        else
        {
            document.getElementById("valPayTypeRadioButtons").style.display = 'none';
        }

        var MessStringTwo = 'Apparently you get paid ';

        if (RadioChecked == 'optionsRadios1') 
        {
            if (document.getElementById('PeriodicPayPeriod').value == '' || document.getElementById('PeriodicPayDuration').value == '') 
            {
                isIncomeValid = false;
                document.getElementById("valPayOptions").style.display = 'block';
                if (InvalidFocus == null)
                {
                    InvalidFocus = document.getElementById("PeriodicPayPeriod");
                }
            }
            else 
            {
                document.getElementById("valPayOptions").style.display = 'none';
                MessStringTwo += ' every ' + '<strong class="text-dark">' + document.getElementById('PeriodicPayPeriod').value + ' ' + document.getElementById('PeriodicPayDuration').value + '</strong>';
            }
        }
        else if (RadioChecked == 'optionsRadios2') 
        {
            if (document.getElementById('LastDayOfMonthPayPeriod').value == '') 
            {
                isIncomeValid = false;
                document.getElementById("valPayOptions").style.display = 'block';
                if (InvalidFocus == null)
                {
                    InvalidFocus = document.getElementById("LastDayOfMonthPayPeriod");
                }
            }
            else 
            {
                document.getElementById("valPayOptions").style.display = 'none';
                MessStringTwo += '<strong class="text-dark">' + document.getElementById('LastDayOfMonthPayPeriod').value + ' < /strong>' + ' working days before the end of the month';
            }
        }
        else if (RadioChecked == 'optionsRadios3') 
        {
            if (document.getElementById('GivenDayOfMonthPayPeriod').value == '') 
            {
                isIncomeValid = false;
                document.getElementById("valPayOptions").style.display = 'block';
                if (InvalidFocus == null)
                {
                    InvalidFocus = document.getElementById("GivenDayOfMonthPayPeriod");
                }
            }
            else 
            {
                document.getElementById("valPayOptions").style.display = 'none';
                MessStringTwo += ' on the ' + '<strong class="text-dark">' + document.getElementById('GivenDayOfMonthPayPeriod').value + document.getElementById('OrdinalIndicatorGiven').innerHTML + '</strong>' + ' of every month.';
            }
        }
        else if (RadioChecked == 'optionsRadios4') 
        {
            if (document.getElementById('LastGivenDayOfWeekPay').value == '') 
            {
                isIncomeValid = false;
                document.getElementById("valPayOptions").style.display = 'block';
                if (InvalidFocus == null)
                {
                    InvalidFocus = document.getElementById("LastGivenDayOfWeekPay");
                }
            }
            else 
            {
                document.getElementById("valPayOptions").style.display = 'none';
                MessStringTwo += ' on the Last ' + '<strong class="text-dark">' + document.getElementById('LastGivenDayOfWeekPay').value + '</strong>' + ' of the month';
            }
        }

        MessStringTwo += ' ... Seems Likely';

        if (isIncomeValid)
        {
            modal.style.display = "none";
            summary.style.display = "block";
            open.style.display = "none";  
            document.getElementById('divMessageStringOne').innerHTML = MessString;
            document.getElementById('divMessageStringTwo').innerHTML = MessStringTwo;
        }
        else
        {
            InvalidFocus.focus();
        }

        //modal.style.display = "none";
        //summary.style.display = "block";
        //open.style.display = "none";
    }
    
    btnOpen.onclick = function () {
        modal.style.display = "block";
        document.getElementById("StartingBalance").focus();
        document.getElementById("optionsRadios1").checked = false;
    }

    btnCloseModal.onclick = function(){
        modal.style.display = "none";
    }

    btnCancel.onclick = function(){
        modal.style.display = "none";
        document.getElementById("StartingBalance").value = null;
        document.getElementById("NextIncomeDate").value = null;
        document.getElementById("PeriodicPayPeriod").value = null;
        document.getElementById("LastDayOfMonthPayPeriod").value = null;
        document.getElementById("GivenDayOfMonthPayPeriod").value = null;
        document.getElementById("optionsRadios1").checked = false;
        document.getElementById("optionsRadios2").checked = false;
        document.getElementById("optionsRadios3").checked = false;
        document.getElementById("optionsRadios4").checked = false;
        PeriodicPay.style.display = 'none';
        LastPay.style.display = 'none';
        GivenPay.style.display = 'none';
        document.getElementById('divPlaceholder').style.display = 'block';
        document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
        document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
        document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
        document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
        document.getElementById("valPayOptions").style.display = 'none';
        document.getElementById("valPayTypeRadioButtons").style.display = 'none';
        document.getElementById("valNextIncomeDate").style.display = 'none';
        document.getElementById("valStartingBalance").style.display = 'none';
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal || event.target == SavingsModal) {
            modal.style.display = "none";
            SavingsModal.style.display = "none";
        }
    }

    const PeriodicPay = document.getElementById('divPeriodicPay');
    const GivenPay = document.getElementById('divGivenDayOfMonthPay');
    const LastPay = document.getElementById('divLastDayOfMonthPay');
    const GivenDay = document.getElementById('divLastGivenDayOfWeekPay');
    

    function handleIncomeRadioClick() {
        if (document.getElementById('optionsRadios1').checked) 
        {
            PeriodicPay.style.display = 'block';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'none';
            document.getElementById('divPlaceholder').style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
            
        } 
        else if (document.getElementById('optionsRadios2').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'block';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'none';
            document.getElementById('divPlaceholder').style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
        }
        else if (document.getElementById('optionsRadios3').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'block';
            GivenDay.style.display = 'none';
            document.getElementById('divPlaceholder').style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-primary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-secondary"
        }
        else if (document.getElementById('optionsRadios4').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'none';
            GivenDay.style.display = 'block';
            document.getElementById('divPlaceholder').style.display = 'none';
            document.getElementById('lblOptionsRadios1').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios2').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios3').className = "form-check-label align-self-center text-secondary"
            document.getElementById('lblOptionsRadios4').className = "form-check-label align-self-center text-primary"
        }
    }

    const radioButtons = document.querySelectorAll('input[name="optionsRadios"]');

    radioButtons.forEach(radio => {
    radio.addEventListener('click', handleIncomeRadioClick);
    });

    function onSelectionChangeWLabel(Element){
        const ChangeElement = document.getElementById(Element);
        const lblChangeElement = document.getElementById('lbl'+Element);
        ChangeElement.className="form-control w-75 ms-4 border-0 text-primary p-0 ps-4";
        lblChangeElement.className = "d-flex form-label ms-4 mb-0 text-primary"
    }

    $(document).on('keydown', 'input[pattern]', function (e) {
        var input = $(this);
        var oldVal = input.val();
        var regex = new RegExp(input.attr('pattern'), 'g');

        setTimeout(function () {
            var newVal = input.val();
            if (!regex.test(newVal)) {
                input.val(oldVal);
            }
        }, 1);
    });

</script>
