@model DailySpendBudgetWebApp.Models.CreateABudgetPageModel

@{
    ViewData["Title"] = "Enter Budget Details";
    Layout = "~/Views/Shared/_LayoutNoFotter.cshtml";
}

<form method="Post">
    <div class="bg-transparent" style="min-height: 82vh;">
        <div class="container mt-2">
            @if (ViewBag.hasBudgetName)
            {
            <div class="d-flex justify-content-center w-100 mt-auto mb-auto">
                <div class="input-container col-9 mb-3">
                        <input class="text-secondary border-bottom border-1 border-secondary" style="font-size:20px;" value="@ViewBag.BudgetName" asp-for="BudgetName" type="text" disabled />
                    <span class="text-danger" asp-validation-for="BudgetName"></span>
                </div>
            </div>
            }
            else
            {
            <div class="d-flex justify-content-center mt-auto mb-auto">
                <div class="input-container col-9 mb-3" >
                    <input style="font-size:20px;" placeholder="Budget Name" asp-for="BudgetName" type="text" required />
                    <span class="text-danger" asp-validation-for="BudgetName"></span>
                </div>
            </div>
            }
        </div>
        <div class="mb-4">
            <h5 class="text-dark p-2">Budget Settings!</h5>
            <div class="DropDown">
                <label asp-for="CurrencyDDL" id="lblCurrencyDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                <select onchange="onSelectionChangeWLabel('CurrencyDDL');" asp-for="CurrencyDDL" asp-items=ViewBag.CurrencyDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
            </div>
            <div class="DropDown">
                <label asp-for="NumberFormatDDL" id="lblNumberFormatDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                <select onchange="onSelectionChangeWLabel('NumberFormatDDL');" id="NumberFormatDDL" asp-for="NumberFormatDDL" asp-items=ViewBag.NumberFormatDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
            </div>
            <div class="DropDown">
                <label asp-for="CurrencyPlacementDDL" id="lblCurrencyPlacementDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                <select onchange="onSelectionChangeWLabel('CurrencyPlacementDDL');" asp-for="CurrencyPlacementDDL" asp-items=ViewBag.CurrencyPlacementDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
            </div>
            <div class="DropDown">
                <label asp-for="DateFormatDDL" id="lblDateFormatDDL" class="d-flex form-label ms-4 mb-0 text-secondary"></label>
                <select onchange="onSelectionChangeWLabel('DateFormatDDL');" asp-for="DateFormatDDL" asp-items=ViewBag.DateFormatDDL class="form-control w-75 ms-4 border-0 text-secondary p-0 ps-4"></select>
                <div class="border-bottom border-secondary m-2 ms-3 me-3"></div>
            </div>
        </div>
        <div id="SummaryIncomeDetails" style="display: none;">
            <a id="EditIncomeDetails">Edit Money Details &nbsp;<i class="bi bi-pencil-square text-white"></i></a>
        </div>
        <div id="OpenIncomeDetails" class="p-2">
            <a class="btn btn-lg btn-primary rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Some Mooooney! &nbsp;<i class="bi bi-cash-stack text-white"></i></a>
        </div>
        <div class="modal" id="modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark p-3 pt-3 pb-2 border-bottom border-primary border-3">
                        <h5 class="modal-title text-primary">Enter the MONIES!</h5>
                        <button id="btnCloseModal"type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-secondary" style="font-size: 8pt;">To start the grind you need to let us know how much money you have, and how often you get paid ... don't be embarrased I get paid less I promse!</p>
                        <div class="ps-4 pe-4 mt-4">
                            <label class="d-flex form-label ms-2 mb-2 text-primary" asp-for="StartingBalanceInt"></label>
                            <div class="input-group w-75">
                                <span style="width: 5%" class="input-group-text">£</span>
                                <input style="width: 30%" asp-for="StartingBalanceInt" type="number" class="form-control" placeholder="0,000" />
                                <span style="width: 5%" class="input-group-text">.</span>
                                <input style="width: 10%" asp-for="StartingBalanceDec" type="number" class="form-control" placeholder="00" />
                            </div>
                        </div>
                        <div id="payinfo" class="ps-4 pe-4 mt-4">
                            <label asp-for="NextIncomeDate" class="d-flex form-label ms-2 mb-2 text-primary"></label>
                            <input class="form-control text-secondary w-75" type="date" asp-for="NextIncomeDate" />
                        </div>
                        <div class="ms-4 mb-3 mt-4 ps-2 text-primary">
                            <span >More Money, More Problems!</span>
                        </div>
                        <fieldset class="form-group">
                            <div style="font-size: 10pt;" class="ms-5 me-4 row justify-content-between">
                                <div class="form-check col-3 p-0">
                                    <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""/>
                                    <label class="form-check-label align-self-center text-secondary" for="optionsRadios1" id="lblOptionsRadios1">
                                        Every ...
                                    </label>
                                </div>
                                <div class="form-check col-3 p-0">
                                    <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />
                                    <label class="form-check-label align-self-center text-secondary" for="optionsRadios2" id="lblOptionsRadios2">
                                        Last ...
                                    </label>
                                </div>
                                <div class="form-check col-3 p-0">
                                    <input class="form-check-input align-self-center" type="radio" name="optionsRadios" id="optionsRadios3" value="option3"/>
                                    <label class="form-check-label align-self-center text-secondary" for="optionsRadios3" id="lblOptionsRadios3">
                                        On the ...
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div id="divPlaceholder" style="min-height: 5vh;"></div>
                    <div id="PeriodicPay" style="display: none">
                        <span>Every</span>
                        <input class="form-control text-secondary" type="Number" asp-for="PeriodicPayPeriod"/>
                        <div class="form-group">
                            <select class="form-select text-secondary" id="PeriodicPayDuration" data-form-type="">
                                <option>days</option>
                                <option>weeks</option>
                                <option>months</option>
                            </select>
                        </div>
                    </div>
                    <div id="LastDayOfMonthPay" style="display: none">
                        <span>On the </span>
                        <input class="form-control text-secondary" type="Number" asp-for="LastDayOfMonthPayPeriod" />
                        <span id="OrdinalIndicatorLast"></span>
                        <span> Last working day of every month</span>
                    </div>
                    <div id="GivenDayOfMonthPay" style="display: none">
                        <span>On the </span>
                        <input class="form-control text-secondary" type="Number" asp-for="GivenDayOfMonthPayPeriod" />
                        <span id="OrdinalIndicatorGiven"></span>
                        <span> of every month</span>
                    </div>
                    <div class="modal-footer bg-dark p-1 border-top border-primary border-3">
                        <button type="button" id="btnSaveIncome" class="btn btn-primary">Save changes</button>
                        <button type="button" id="btnCancelModal"class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="OpenSavingsDetails" class="p-2">
            <a class="btn btn-lg btn-primary rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Savings &nbsp;<i class="bi bi-piggy-bank text-white"></i></a>
        </div>
        <div id="OpenBillsDetails" class="p-2">
            <a class="btn btn-lg btn-dark rounded-1 col-12 mb-1 shadow" style="font-size: 14pt;">Add Bills &nbsp;<i class="bi bi-receipt text-white"></i></a>
        </div>
    </div>
    <footer class="sticky-bottom m-0 p-0"style="width: 100%">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <button type="submit" class="btn btn-lg btn-success rounded-1 mb-4 col-10"><i class="bi bi-file-earmark-plus"></i> &nbsp Create Budget</button>
        </div>
    </footer>
</form>

<script>

    const modal = document.getElementById("modal");
    const summary = document.getElementById("SummaryIncomeDetails");
    const open = document.getElementById("OpenIncomeDetails") ;
    const btnOpen = document.getElementById("OpenIncomeDetails");
    const btnCancel = document.getElementById("btnCancelModal");
    const btnCloseModal = document.getElementById("btnCloseModal");
    const btnSaveIncome = document.getElementById("btnSaveIncome");

    btnSaveIncome.onclick = function(){
        modal.style.display = "none";
        summary.style.display = "block";
        open.style.display = "none";
    }
    
    btnOpen.onclick = function () {
        modal.style.display = "block";
        document.getElementById("StartingBalanceInt").focus();
    }

    btnCloseModal.onclick = function(){
        modal.style.display = "none";
    }

    btnCancel.onclick = function(){
        modal.style.display = "none";
        document.getElementById("StartingBalanceInt").value = null;
        document.getElementById("StartingBalanceDec").value = null;
        document.getElementById("NextIncomeDate").value = null;
        document.getElementById("PeriodicPayPeriod").value = null;
        document.getElementById("LastDayOfMonthPayPeriod").value = null;
        document.getElementById("GivenDayOfMonthPayPeriod").value = null;
        document.getElementById("optionsRadios1").checked = false;
        document.getElementById("optionsRadios2").checked = false;
        document.getElementById("optionsRadios3").checked = false;
        PeriodicPay.style.display = 'none';
        LastPay.style.display = 'none';
        GivenPay.style.display = 'none';
        document.getElementById('lblOptionsRadios1').style.color = '#aea79f'
        document.getElementById('lblOptionsRadios2').style.color = '#aea79f'
        document.getElementById('lblOptionsRadios3').style.color = '#aea79f'
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    const PeriodicPay = document.getElementById('PeriodicPay');
    const GivenPay = document.getElementById('GivenDayOfMonthPay');
    const LastPay = document.getElementById('LastDayOfMonthPay');

    function handleIncomeRadioClick() {
        if (document.getElementById('optionsRadios1').checked) 
        {
            PeriodicPay.style.display = 'block';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'none';
            document.getElementById('lblOptionsRadios1').style.color = '#e95420';
            document.getElementById('lblOptionsRadios2').style.color = '#aea79f';
            document.getElementById('lblOptionsRadios3').style.color = '#aea79f';
            
        } 
        else if (document.getElementById('optionsRadios2').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'block';
            GivenPay.style.display = 'none';
            document.getElementById('lblOptionsRadios1').style.color = '#aea79f';
            document.getElementById('lblOptionsRadios2').style.color = '#e95420';
            document.getElementById('lblOptionsRadios3').style.color = '#aea79f';
        }
        else if (document.getElementById('optionsRadios3').checked) 
        {
            PeriodicPay.style.display = 'none';
            LastPay.style.display = 'none';
            GivenPay.style.display = 'block';
            document.getElementById('lblOptionsRadios1').style.color = '#aea79f';
            document.getElementById('lblOptionsRadios2').style.color = '#aea79f';
            document.getElementById('lblOptionsRadios3').style.color = '#e95420';
        }
    }

    const radioButtons = document.querySelectorAll('input[name="optionsRadios"]');

    radioButtons.forEach(radio => {
    radio.addEventListener('click', handleIncomeRadioClick);
    });

    function onSelectionChangeWLabel(Element){
        const ChangeElement = document.getElementById(Element);
        const lblChangeElement = document.getElementById('lbl'+Element);
        ChangeElement.className="form-control w-75 ms-4 border-0 text-primary p-0 ps-4";
        lblChangeElement.className = "d-flex form-label ms-4 mb-0 text-primary"
    }

</script>
